html{
    scroll-behavior: smooth;
    overflow-y: visible;
}

:root{
    /* COLORS */
    --black: #000000;
    --navBg: #181818;
    --bg-color:  #1D1D1D;
    --pinkishAccent-color: #FE2156;
    --greenishAccent-color: #05FDD8;
    --white: #ffffff;
    --grey: #969293;



    --typewriter-speed: 5s;
    --typewriter-character: 25;
    --delay:6s;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
    overflow-x: hidden;


}

ul{
    list-style-type: none;
  }
  
a, button, li{
    cursor: pointer;
  }
  
a{
    text-decoration: none;
    
}


.loadScreenState{
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0 0 0 0 ;
    z-index: 100000000;
    display: none;
    pointer-events: none;
}

#screenHead{
    color: var(--greenishAccent-color);
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    overflow: hidden;
}

/* #screenLogo{
    filter: grayscale(100%);
} */

.screenDiv{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    padding: 2rem;
    border-radius: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.screenNo{
    font-family: 'Crete Round', serif;
    font-size: 4rem;
    margin-top: -1rem;
    color: var(--pinkishAccent-color);
}

.screenNo:before{
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px var(--pinkishAccent-color);
    filter: blur(15px) brightness(0);
    animation: flicker 2s linear 2s forwards;
}

@keyframes flicker {
    0%{filter: blur(5px) brightness(1);}
    3%{filter: blur(5px) brightness(0);}
    6%{filter: blur(5px) brightness(0);}
    7%{filter: blur(5px) brightness(1);}
    8%{filter: blur(5px) brightness(0);}
    9%{filter: blur(5px) brightness(1);}
    10%{filter: blur(5px) brightness(0);}
    20%{filter: blur(5px) brightness(1);}
    50%{filter: blur(5px) brightness(1);}
    90%{filter: blur(5px) brightness(0);}
    100%{filter: blur(5px) brightness(1);}



}

.openMenu,.closeMenu{
    display: none;
}
.mainMenu{
    position: fixed;
    inset: 0 auto 0 0;
    background-color: var(--navBg);
    width: clamp(15vw, 200px, 20vw);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Poppins', sans-serif;

    transform: translateX(0%);

}

.logo h2{
    font-size: 1.875rem;
    color: var(--greenishAccent-color);
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.375rem 0;
    cursor: pointer;
    background-color: var(--black);
}

.mainNav{
    margin: auto;
    width: 100%;
}

.mainNav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;


}

.mainNav li{
    width: 100%;
    padding: 0.65rem ;
    background-color: var(--navBg);
    border: 2px var(--bg-color) solid;
    border-left: none;
    border-right: none;
}

.mainNav a{
    width: 100%;
    color: var(--grey);
    font-size: 1.25rem;
    transition: all .2s ease-in-out;

}

.mainNav a:hover,
.mainNav a:focus,
.mainNav a:active{
    color: var(--greenishAccent-color);
}

.mainSocialLinks{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.mainSocialLinks a{
    width: 40px;
}

.linkedInLink:hover,
.linkedInLink:focus,
.linkedInLink:active{
    fill: var(--pinkishAccent-color);
}



.home{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */


    /* display: grid;
    grid-template-columns: 18vw 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr; */

    display: grid;
    place-content:  center ;
    text-align: center;
}




.heroText{
    font-size: clamp(1rem, 3vw + 0.75rem , 4rem);
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color:var(--white);
    grid-column: 3;
    align-self: end;
    
}



.heroText::before,
.heroText::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.heroText::before{
    background: var(--bg-color);
    animation: typewriter var(--typewriter-speed) var(--delay) steps(var(--typewriter-character)) forwards;
}

.heroText::after{
    width: .125em;
    background:white;
    animation: 
        typewriter var(--typewriter-speed) var(--delay) steps(var(--typewriter-character)) forwards,
        blink 750ms steps(25) infinite;

    animation: name duration timing-function delay iteration-count direction fill-mode;
}


.subtitle{
    color: var(--grey);
    opacity: 0.6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriter-speed)  + var(--delay)) forwards;
    grid-area: 2/3/3/4;
    justify-self: center;
    margin-top: 3rem;

   
}

@keyframes typewriter{
    to{
        left: 100%
    } 
}

@keyframes blink {
    to{
        background: transparent;
    }
}

@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.homeLink{
    position: absolute;
    inset: auto 10vw 10vh auto;
    z-index: 20000;

    
}

.viewButton {
    font-size: 1.125rem;
    font-family: 'Source Code Pro', monospace;

    background-color: transparent;
    color: var(--greenishAccent-color);

    padding: 0.5em 0.25em;
    border: 2px solid var(--pinkishAccent-color);
    border-radius: 5px;

    opacity: 0;
    scale: 0;
    transform: translateX(400px);
    animation: fadeFromSide 1.5s ease-out calc(var(--typewriter-speed) + var(--delay)) forwards;

}

.viewButton {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
 
.viewButton:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
 
.viewButton:hover:after {
    width: 100%;
    background: var(--greenishAccent-color);
}

@keyframes fadeFromSide{
    to{
        opacity: 1;
        transform: translateX(0);
        scale: 1;
    }
}




/* ABOUT SECTION*/

.about, .projects, .skills, .contact{
    min-height: 100vh;
    margin-left: clamp(15vw, 200px, 20vw);
    margin-right: 3vw;

    padding: calc(3vw + 3rem) 6vw ;
}
.about{
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 6rem;
    color: var(--grey);


    /* background: #FE2156; */
}

.bgText{
    position: absolute;
    inset: 2vh auto auto clamp(20vw, 25vw, 30vw);
    z-index: -10;
    font-size: 400px;
    font-family:'Bodoni Moda', monospace ;
    color: var(--grey);
    opacity: 0.2;
}

.sectionHeader{
    font-size: 2rem;
    color: var(--greenishAccent-color);
    font-weight: 400;
}


.aboutMe{
    margin-top: 1rem;
    max-width: 500px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.aboutMe span{
    color: var(--greenishAccent-color);
}



.skillsLearnt, .skillLearning{
    margin: .5rem 0;
    list-style-type:square;
    color: var(--pinkishAccent-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

}

.skillsLearnt li,
.skillLearning li{
    width: 30%;
}

.profileImg{
    margin-top: 4rem;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: all ease-out 0.4s;
    
}

.profileImg:hover{
    filter: grayscale(0%);

}
/* PROJECT SECTIION */


/* .projects{
    display: flex;
    flex-direction: column;
}

.project{
    display: grid;
    grid-template-columns: 50% 1fr 40% ;
}

.projectImg{
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;

}

.textSideR{
    grid-column: 2/4;
    grid-row: 1/2;

    text-align: right;
    
}

.textSide{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
}


.skillsUsed{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}

.sourceCodeLinks{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
} */



.projects{
    font-family: 'Poppins', sans-serif;
}

.sectionProject{
    margin-bottom: 5rem;
}

.project{
    position: relative;
    margin-bottom: 6rem;
}

.project1{
    display: flex;
}



.projectImg{
    width: max(47vw,600px);
    filter: brightness(20%);
    transition: all ease-out 0.3s;

    border-radius: 20px;

    cursor: pointer;
    
}

.projectImg:hover{
    transform: scale(1.05);
    filter: brightness(100%);
    z-index: 20;

}


.textSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    z-index: 10;
    max-width: 500px;
    
}
.textSideR{
    align-items: flex-end;
    text-align: right;
    inset: auto 0 0 auto;

}

.projectTitle{
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color:var(--greenishAccent-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



.textImg{
    background-color: var(--bg-color);
    padding: 1rem 0rem;
    padding-right: 1rem;
    box-shadow: 2px 2px 28px 1px rgba(254,33,86,0.07);
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;

    width: auto;
    border-radius: 12px;
    max-width: 500px;
    

}

.textImgR{
    text-align: right;
}

.frontendLink{
    color: var(--greenishAccent-color);
    text-decoration: underline;
}
.frontendLink:hover,
.frontendLink:focus,
.frontendLink:active{
    opacity: 0.7;
}
.skillsUsed{
    display: flex;
    gap: 1rem;
    font-family: 'Source Code Pro', monospace;
    color: var(--pinkishAccent-color);

}

.skillsUsed{
    justify-content: flex-end;

}

.sourceCodeLinks{
    display: flex;
    gap: 2rem;
}
.githubLink, .goToLink, .linkedInLink{
    transition: all ease-out 0.3s;
    cursor: pointer;
}
.githubLink:hover,
.githubLink:focus,
.githubLink:active,
.goToLink:hover,
.goToLink:focus,
.goToLink:active{
    fill: var(--pinkishAccent-color);
}

.projectTitleR,
.skillsUsedR,
.sourceCodeLinksR{
    padding-right: 1rem;
} 


/* PROJECT TWO */

 .project2{
    display: flex;
    justify-content: flex-end;
}


.textSideL{
    position: absolute;
    inset: auto auto 0 0;
    align-items: flex-start;
    text-align: left;
} 


/* .projectImg{
    margin-top: 5rem;
    width: 45vw;
    height: 60vh;
    background-image: url('./images/Screenshot\ 2022-01-13\ 130247.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(40%);
    transition: all ease-out 0.3s;

    cursor: pointer;
}

.projectImg:hover{
    filter: brightness(100%);
    transform: scale(1.1);

}

.textImg{
    width: 25vw;
    height: 15vh;
    padding: 1rem;
    background-color: var(--navBg);
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-20%);
    color: var(--white);

    font-size: 0.8rem;
}
 */




 /* SKILLS SECTIION */

.skills{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skillsHeader{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sectionLearning{
    font-size: 1.5rem;
}

.learning{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skillsList{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}

.icon{
    filter: grayscale(100%);
}

.skillText{
    font-size: 1rem;
    color: var(--pinkishAccent-color);
}





 /* CONTACT SECTIION */
.contact{
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;

}

form{
    min-height: 50vh;
    width: max(50vw, 700px);
    background-color: transparent;
    color: var(--white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2.5rem;
    background-color: transparent;
  }

  .contactHead{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }
  
  .title{
    color: var(--greenishAccent-color);
    font-size: 3rem;
  }
  
  .description{
    color: var(--grey);
    font-size: 1rem;
    width: 70%;
}
  
  .contactBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
  

  
  
  .input-container{
    position: relative;
  }
  
  .input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
    outline: none;
    color: var(--grey);
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-color: transparent;
  }
  
  
  
  .placeholder{
    position: relative;
    z-index: 1;
    pointer-events: none;
    padding: 0.3rem 0rem;
    font-size: 0.875rem;
    opacity: 0.6;
    transform-origin: left;
  }
  
  .line-svg{
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: visible;
    opacity: 0.6;
    
  }

  textarea{
    color: var(--grey);
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    border: 2px solid var(--grey);
    padding: 0.25rem .5rem;
    border-radius: 5px;
    width: 70%;
  }
  

  
  
  
  .contactBtn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    background: var(--pinkishAccent-color);
    color: white;
    border-radius: 0.2rem;
    border-style: none;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-start;
  }
  
  .contactBtn:hover,
  .contactBtn:focus,
  .contactBtn:active{
    opacity: 0.6;
  }
  

  
  .submitted{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--greenishAccent-color);
    font-size: 1.5rem;
    pointer-events: none;
    text-align: center;
    opacity: 0;
    width: 300px;
  }
  


  
/* 
 form{
    min-height: 50vh;
    width: max(50vw, 700px);
    background-color: transparent;
    color: var(--white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2.5rem;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
  }

  .contactHead{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }
  
  .title{
    color: var(--greenishAccent-color);
    font-size: 3rem;
  }
  
  .description{
      color: var(--grey);
      font-size: 1.1rem;
      width: 70%;
  }

  
  .contactBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
  

  .input{
      color: var(--grey);
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid var(--grey);
      font-size: 1rem;
      padding-bottom: 0.125rem;
      font-family: 'Poppins', sans-serif;


      width: 50%;
  }
  
 

  textarea{
    color: var(--grey);
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    border: 2px solid var(--grey);
    padding: 0.25rem .5rem;
    border-radius: 5px;
    width: 70%;
  }
  

  
  
  
  .contactBtn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    background: var(--pinkishAccent-color);
    color: white;
    border-radius: 0.2rem;
    border-style: none;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-start;
  }
  
  .contactBtn:hover,
  .contactBtn:focus,
  .contactBtn:active{
    opacity: 0.6;
  }
  

  
  .submitted{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #777474;
    font-size: 1rem;
    pointer-events: none;
    text-align: center;
    opacity: 0;
  }
  

  .error{
    border-bottom: 2px solid var(--pinkishAccent-color);
  }

  .success{
    border-bottom: 2px solid var(--greenishAccent-color);

  }
 */

 @media (min-width:1400px) {
    .aboutMe{
        font-size: 1.125rem;
    }
 }


  @media (max-width:1150px) {

    /* .menus{
        position: absolute;
        inset: 2rem 1rem auto auto;
    } */

    .subtitle{
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }
    .openMenuDiv{
        position: fixed;
        z-index: 2000000;
        background-color: rgba(24, 24, 24,0.6);
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .openMenu,.closeMenu{
        display: block;
        cursor: pointer;
    }
    .openMenu{
        fill: var(--greenishAccent-color);
        z-index: 2000000;
        padding: 2rem 1.5rem;
        
    }

    .closeMenu{
        position: fixed;
        inset: 2rem 1.5rem auto auto;

    }
        
    .mainMenu{
        position: fixed;
        inset: 0 0 0 0;
        z-index: 100000000;
        width: 100%;
        transform: translateX(100%);
        transition: all ease-out 0.5s;
    }

    .pp{
        transform: translateX(0%);
    }



    .about, .projects, .skills, .contact{
        min-height: 100vh;
        margin-left: 3vw;
        margin-right: 3vw;
    
        padding: calc(3vw + 3rem) 6vw ;

        /* margin: calc(3vw + 3rem) 9vw; */
    }

    .icon{
        filter: grayscale(100%);
        transform: scale(0.9);
    }



    form{
    width: 100vw;
    gap: 2rem;
    }

    .contactHead{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    
    .title{
    font-size: 2.5rem;
    }
    
    .description{
        font-size: 0.875rem;
        width: 80%;
    }

    
    .contactBody{
    gap: 1.5rem;
    }
    

    .input{
    width: 60%;
    }
    
    

    textarea{
    
    width: 80%;
    }
}


@media (max-width:800px) {
    #screenHead{
        font-size: 2rem;
    }
  

    
    .screenNo{
        font-size: 3rem;
        
    }


    .viewButton {
        font-size: 1rem;
    }
    
    .subtitle{
        font-size: 1.25rem;
        margin-top: 2rem;
    }

    .about{
        flex-direction: column;
        gap: 2rem;

    }

    .aboutMe{
        max-width: 100%;
        font-size: clamp(0.875rem, 0.9rem, 1);

    }
    .sectionHeader{
        font-size: 1.5rem;
    }
    
    .profileImg{
        align-self: center;
        margin-top: 1rem;

    }
    .sectionProject{
        margin-bottom: 2rem;
    }
    
  

    .project{
        width: 100%;
        height: min(100vw, 400px);
        margin-bottom: 3rem;

        
    }
    .projectImg{
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .projectTitle{
        font-size: 1.2rem;
    }
    .textSide{
        inset: 0 0 0 0;
        padding: 1rem;
        max-width: 100%;
        height: 100%;
        background-color: rgba(29,29,29,0.8);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-self: flex-start;
    }

    .textSideR{
        align-items: flex-start;
        text-align: left;
    
    }
   
    .textSideL{
        text-align: left;
    }
    
    

    .textImg{
        background: inherit;
    }
    .textImgR{
        text-align: left;
    }


    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
    }

    .skillsList{
        justify-content: center;
    }
    .sectionLearning{
        font-size: 1.2rem;
    }
    
    .icon{
        filter: grayscale(100%);
        transform: scale(0.7);
    }
    
    .skillText{
        font-size: 1rem;
        color: var(--pinkishAccent-color);
    }

    form{
        width: 100vw;
        gap: 2rem;
      }
    
      .contactHead{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
      }
      
      .title{
        font-size: 2.5rem;
      }
      
      .description{
          font-size: 0.875rem;
          width: 100%;
      }
    
      
      .contactBody{
        gap: 1.5rem;
      }
      
    
      .input{
        width: 100%;
      }
      
     
    
      textarea{
        
        width: 100%;
      }
}


@media (max-width: 500px) {
    .skillsLearnt li,
    .skillLearning li{
        width: 50%;
    }

    .viewButton {
        font-size: 0.75rem;
    }
    
}